body{
  background: #fff;
  }
h1,h2,h3{
  font-weight: bold;
  }
.section{
  padding: 30px 0 60px;
  background: #fff;
  &.grey{
    background: #F0F0F0;
    color: #333;
    }
  }
.feature{

  }
.feature-card{
  background: #fff;
  padding:20px 15px;
  border-radius: 10px;
  h3{
    font-size: 20px;
    }
  }
.feature-icon{
  &.satu{
    color:#e74c3c;
    }
  &.dua{
    color:#008CBA;
    }
  &.tiga{
    color: #8ECF32;
    }
  }