body{background:#fff}h1,h2,h3{font-weight:bold}.section{padding:30px 0 60px;background:#fff}.section.grey{background:#F0F0F0;color:#333}.feature-card{background:#fff;padding:20px 15px;border-radius:10px}.feature-card h3{font-size:20px}.feature-icon.satu{color:#e74c3c}.feature-icon.dua{color:#008CBA}.feature-icon.tiga{color:#8ECF32}
/*# sourceMappingURL=landing.css.map */
