/*
Theme Name: WPinstant Core Dev
Theme URI: http://www.dankedev.com
Author: Hadie Danker
Author URI: http://www.dankedev.com
Description: 
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Boostrap, Responsive, WPInstant
Text Domain: wpinstant
This theme, like WordPress, is licensed under the GPL.

*/
// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;

.body {
  }

// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

// Firefox Overrides
::-moz-range-track {
  background: $range-track-color;
  border: 0;
  }

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
  }

.navbar-custom {
  border: 1px solid #dde5ed;
  padding-top: 15px;
  padding-bottom: 15px;
  }

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.box-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(227, 227, 227, 1);
  box-shadow: 0px 0px 10px 0px rgba(227, 227, 227, 1);
  }

.text-bold {
  font-weight: bold;
  }

.wellcome-message {
  float: left;
  width: 100%;
  border-radius: 6px;
  padding: 50px 30px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  // @extend .box-shadow;
  }

.box {
  position: relative;
  float: left;
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  border: 1px solid #e3e3e3;
  margin-bottom: 30px;
  }

.create-bar {
  border-bottom: 2px solid #eee;
  }

.breadcrumb {
  background-color: transparent;
  }

.small-container {
  max-width: 650px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  }

.product-chooser {
  .product-chooser-item {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    svg {
      padding: 4px;
      background: #fff;
      opacity: 0.6;
      border: 2px solid transparent;
      }
    img {
      padding: 0;
      border: 2px solid transparent;
      opacity: 0.6;
      }
    &.selected {
      img, svg {
        border: 2px solid #428bca;
        filter: alpha(opacity=100);
        opacity: 1;
        @extend .box-shadow;
        }
      }
    input {
      position: absolute;
      left: 0;
      top: 0;
      visibility: hidden;
      }
    }
  }

div.product-chooser.disabled div.product-chooser-item {
  zoom: 1;
  filter: alpha(opacity=40);
  opacity: 0.4;
  cursor: default;
  &.selected {
    filter: alpha(opacity=100);
    opacity: 1;
    }
  }

.step-list > li {

  span {
    }
  &.active span {
    border-bottom: 2px solid #008cba;
    color: #008cba
    }

  }
  .breadcrumb-item+.breadcrumb-item::before{
    content: "\f178";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
.theme-wizard {
  padding: 30px 0;
  //-webkit-box-shadow: 0px 0px 7px 0px rgba(97,97,97,1);
  //-moz-box-shadow: 0px 0px 7px 0px rgba(97,97,97,1);
  //box-shadow: 0px 0px 7px 0px rgba(97,97,97,1);
  margin-bottom: 30px;
  a.btn {
    cursor: pointer;
    }
  }

form.theme-wizard fieldset:not(:first-of-type) {
  display: none;
  }

fieldset.multi h4 {
  background: #fff url("assets/images/sparator.svg") repeat-x;
  line-height: 1;
  font-size: 1.2rem;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  span {
    display: inline-block;
    background: #12539e;
    padding: 4px 30px 4px 15px;
    color: #fff;
    position: relative;
    z-index: 1;
    &::after {
      width: 20px;
      height: 45px;
      position: absolute;
      content: " ";
      right: -10px;
      bottom: -10px;
      background: #fff;
      display: block;
      z-index: 2;
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      }
    }
  }

form.theme-wizard legend {
  padding-bottom: 10px;
  border-bottom: none;
  margin-bottom: 30px;
  }

.invalid-feedback.small {
  font-size: .775rem;
  }

.select-validate {
  padding: 15px 0;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 10px;
  &.error {
    border: 2px solid red;
    }
  }

.input-error {
  border: solid 2px red;
  }

.range {
  display: table;
  position: relative;
  height: 25px;
  margin-top: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
    outline-color: rgb(66, 139, 202);
    &::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      -ms-appearance: none !important;
      -o-appearance: none !important;
      appearance: none !important;
      width: 11px;
      height: 25px;
      color: rgb(255, 255, 255);
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0px;
      background-color: #007bff;
      }
    &::-moz-slider-thumb {
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      -ms-appearance: none !important;
      -o-appearance: none !important;
      appearance: none !important;
      width: 11px;
      height: 25px;
      color: rgb(255, 255, 255);
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0px;
      background-color: #007bff;
      }
    }
  output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 0 4px 4px 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    }
  }

.monitor{
  background: #32383e;
  border-radius: 1em 1em 0 0;
  height: 160px;
  padding: 1em 1em 0 1em;
  .layar{
    width: 100%;
    height: 100%;
    }
  .layar{
    background: #fff;
    overflow: hidden;
    .browser{
      height: 1.5rem;
      width: 100%;
      background: #ddd;
      top:0;
      left: 0;
      }
    .cpreview{
      width: 50%;
      height: 100%;
      margin: 1.5em auto 0;
      background: rgba(0, 149, 247, .1);
      display: flex;
      align-items: center;
      justify-content: center;
      }
    }

  }
.font-select {
  font-size: 16px;
  width: 340px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  > a {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 34px;
    line-height: 34px;
    padding: 0 0 0 8px;
    color: #444;
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    span {
      margin-right: 26px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      line-height: 2;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      cursor: pointer;
      }
    div {
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      height: 100%;
      width: 14px;
      b {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 0.6em;
        color: #555;
        &:after {
          content: "\25bc";
          }
        }
      }
    }
  .fs-drop {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    top: 34px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 100;
    }
  .fs-results {
    margin: 0 4px 4px 0;
    max-height: 190px;
    width: 100%;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    li {
      line-height: 80%;
      padding: 7px 7px 8px;
      margin: 0;
      list-style: none;
      font-size: 18px;
      &.active {
        background-color: #428bca;
        color: #fff;
        cursor: pointer;
        em {
          background: transparent;
          }
        }
      em {
        background: #feffde;
        font-style: normal;
        }
      }
    }
  }

.skema {
  height: 30px;
  }

.wp-picker-container {
  position: relative;
  }

.wp-picker-holder {
  position: absolute;
  z-index: 100;
  left: 0;
  }

.wp-picker-default {
  padding: 4px 6px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  }

.wp-picker-input-wrap {
  vertical-align: baseline !important;
  line-height: 1;
  }

.info-theme {
  li span {
    display: inline-block;
    &:first-child {
      width: 100px;
      }
    }
  }

//dashboard

.stats {
  border: 1px solid #eee;
  width: 100%;
  height: 100%;
  .info {
    max-width: 70%;
    padding: 15px;
    text-align: left;
    span {
      display: block;
      &:first-child {
        font-size: 2rem;
        font-weight: bold;
        }
      }
    }
  .icon {
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  }

.small-info, .user-info {
  span {
    display: block;
    line-height: 1;
    &:first-child {
      font-size: 2rem;
      font-weight: bold;
      }
    }
  }

.hr {
  border-bottom: 1px solid #eee;
  }

.list-downloads {
  li {
    @extend .box;
    padding-top: 10px;
    padding-bottom: 10px;
    }

  }

.list-domain {
  }



.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  &.active{
    display: block;
    }
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    }
  .svgloader {
    position: absolute;
    top: 0;
    left: 0;
    }
  }


.support-link{
  border:1px solid #ddd;
  &:hover{
    text-decoration: none;
    }
  .icon{
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left:0;
    top:0;

    }
  .support-title{
    padding: 15px;
    width: calc(100% - 30px);
    margin-left:60px;
    span{
      display: block;
      &:first-child{
        font-size:1.6rem;
        font-weight: bold;
        }
      }
    }
  }


#wp-admin-bar-search{
  display: none!important;
  }

#content img{
  max-width: 100%;
  height: auto;
  }

#panduan-content{
  font-size: 20px;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  h1,h2,h3,h4{
    font-weight: bold;
    margin: 20px 0;
    }
  img{
    max-width: 100%;
    height: auto;
    &.size-full{
      max-width: 120%;
      margin: 15px -10%;

      }
    }
  }
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
  }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
  }

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
  }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
  }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
  }

a img.alignnone {
  margin: 5px 20px 20px 0;
  }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
  }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
  }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
  }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
  }

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
  }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
  }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
  }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  }

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
  }
div.card-img-top{
    max-height: 150px;
  overflow: hidden;
  }

.themetype{
  display: inline-block;
  padding: 5px 15px;
  background: #dc3545;
  line-height: 1;
  color:#fff;
  right: 0;
  }