$white: #fff;
$green: #0cce2f;
$blue: #2292ff;
body, html {
  background: #fff;
  }

a:hover {
  text-decoration: none;
  }
h1,h2,h3{@extend .mb30;font-weight: bold;text-transform: uppercase}
.bg-green {
  background: $green;
  }
.mb15, #header,.create-icon { margin-bottom: 15px; }
.mt15{
  margin-top: 15px;
  }
.mb30 {
  margin-bottom: 30px;
  }

.mt30 {
  margin-top: 30px;
  }

.pd15 {
  padding: 15px;
  }

.text-bold,.navbar-inverse .navbar-nav > li > a {
  font-weight: bold;
  }

.display-block {
  display: block;
  }

/*Icons*/
.wpinstant:before, .navbar-brand:before {
  display: inline-block;
  background: url(../images/sprites/dashboard.svg);
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  }
.navbar-brand span{
  display: none;
  }
.no-project {
  background-position: 0 0;
  width: 130px;
  height: 141.1px;
  }


.navbar-btn{
  margin: 0;
  text-transform: uppercase;
  @extend .text-bold;
  &.create{
    background:#F04124 ;

    }
  }
.navbar-inverse .navbar-nav > li > a.navbar-btn.create:hover{
  background:#E97F02 ;
  }
.wpinstant:before, .navbar-brand:before {
  content: "";
  width: 140px;
  height: 30px;
  background-position: -286.516px -5px;
  margin-top: 0px;
  }
.container-small{
  width: 98%;
  max-width: 720px;
  margin: 0 auto;
  }
.logo-small{
  margin: 30px 0;
  }

.form-input{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  }
sup{color: red;}


.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
  }

/*
 * Card component
 */
.card {
  background-color: #f7f7f7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

.profile-img-card {
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  }

/*
 * Form styles
 */
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
  }

.reauth-email {
  display: block;
  color: $green;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

.btn-lg, .btn-group-lg > .btn,.wuoyMember-social-button button {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  }
.btn-primary {
  color: #ffffff;
  background-color: #1abc9c;
  }
.btn,.wuoyMember-social-button button{
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  }
.card-container .process{display: none;}
.wuoyMember-social-button button{
  display: block;
  width: 100%;
  color:#fff;
  margin-bottom: 15px;
  text-align: left;
  padding-left: 60px;
  position: relative;
  &:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 0;
    top:0;
    padding: 10px 20px;

    }
  }

.facebook-login{
  background: #3B5998 ;
  &:before{
    content: "\f09a";
    background:#284d96 ;
    }
  }

#footer{
  margin-top: 60px;
  background: #222;
  padding: 15px 0;

  }
#footer,#footer a,.navbar-nav.footer-menu{
  color:#fff;
  }
.navbar-nav.footer-menu{
  > li{
    > a{

      background: transparent;
      padding: 5px 15px;
      line-height: 1;
      }
    }
  }
